.btn {
	margin: 10px;
	padding: 15px;
	height: 48px;
	width: 48px;
	cursor: pointer;
}

body {
	background-image: url('https://images.unsplash.com/photo-1502301063654-b24a93a0d0f2');
	background-size: 80%;
	background-attachment: fixed;
	font-family: Pacifico;
}

h2 {
	display:inline;
}

#start{
	/*margin: 10px;*/
}