h1, h3 {
  margin: 20px;
}
.btn {
  width: 45px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
}

.btn#start {
  width: 120px;
  height: 60px;
  font-size: 30px;
  margin: 50px;
  
}

body {
  background-image: url('https://images.unsplash.com/photo-1502301063654-b24a93a0d0f2');
  background-size:80%;
    background-attachment: fixed;
  font-family: 'Coming Soon', cursive;
}