.button {
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.button:hover {
	background: red;
	color: white;
}

.my-form {
	padding: 20px;
}

.my-form .form-group {
	padding-bottom: 15px;
}

.my-form label {
	display: block;
}

.my-form input[type="text"], .my-form textarea {
	padding: 8px;
	width: 100%;
}

