.navbar {
	opacity: 0.85;
}

body {
	background-image: url('https://wallpapercave.com/wp/3vZjpA5.jpg')
}
#logo {
	width: 30px;
	border-radius: 5px;
}

.title-block {
	margin: 100px 0;
	background-color: white;
	padding: 20px;
	width: 400px;
	border-radius: 10px;
}

h1 {
/*	font-family: 'Cabin', sans-serif;
	
	font-family: 'Alegreya', serif;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Exo 2', sans-serif;*/
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

i {
	color: #025BAF;
	padding: 0 10px;
}

i:hover {
	color: #404040;
}

.content {
	background-color: #C6C6C6;
	border-radius: 10px;
	padding: 50px 20px
}

.content img {
	max-height: 250px;
	border-radius: 10px;
	border: 3px solid black;
	display: block;
	margin: auto;
}

.content p {
	margin: 20px;
}

#about-link {
	display: block;
	position: relative;
	top: -100px;
}

.heading {
	margin: 50px 0 20px 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	/*grid-template-rows: repeat(2, 300px);*/
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.grid > div {
	background-color: white;
	border-radius: 10px;
	padding: 1em;
	/*margin: 10px;*/
	/*align-self: center;*/
  	/*justify-self: center;*/
}

.grid > div:nth-child(odd) {
	background: #775BC6;
}

.grid > div > img {
	max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}