body {
	font-family: Open Sans;
	text-align: center;
}

header {
	background: url('https://static.pexels.com/photos/34950/pexels-photo.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 10px;
}

li {
	text-align: left;
}

h1, h2 {
	padding: 50px 30px 0 30px;
	text-align: center;
	margin-bottom: 0;
}

h1 {
	font-size: 50px;
	font-family: Roboto;
	color: #DCDCDC;
}

h2 {
	color: #A8BDF9;
	padding: 50px 0;
	font-size: 20px;
	margin: 0;
}

img {
	width: 100%;
}

nav {
	background-color: #666666;
	margin: 0;
	padding: 5px 0;
	text-align: right;
}

nav a {
	padding: 0 5px;
	color: white;
}

article {
	background-color: #E0E0E0;
	width: 80%;
	float: left;
}

article, nav {
	box-sizing: border-box;
}

.sidebar {
	width: 20%;
	float: left;
}

.sidebar a {
	display: block;
}